.item-img {
    width: 100%;
    height: 70%;
    border-radius: 15px;
    background: none;
    /* background-image: url("/images/cat.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s ease;
    cursor: pointer;
}

p {
    padding: 0;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    padding: 5px;
    color: black;
}

.hover:hover {
    color: rgb(6, 213, 158);
}

.name-hover:hover {
    text-decoration: underline;
}